@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

$color_background: #000000;
$color_background_light: #141414;
$color_main_dark: #8E1616;
$color_main: #D84040;
$color_light: #EEEEEE;

* {
	margin: 0;
	padding: 0;
	font-family: "Nunito", sans-serif;
}

html {
	background: $color_background;

	body {
		min-height: 100vh;
		display: grid;
		grid-template-rows: auto 1fr auto;
	}
}

.sm-text {
	font-size: 75%;
}

.bg-text {
	font-size: 125%;
}

header {
	padding: 4px 8px;
	box-shadow: 0px 0px 5px $color_main_dark;

	h1 {
		color: $color_main;
		user-select: none;
	}
}

footer {
	padding: 4px 8px;
	box-shadow: 0px 0px 5px $color_main_dark;
	background: $color_main_dark;

	.navbar {
		display: flex;
		justify-content: left;
		gap: 16px;
		
		.navbar-link {
			font-size: 28px;
			text-decoration: none;

			width: 32px;
			height: 32px;

			display: grid;
			align-items: center;
			justify-items: center;
			padding: 4px;

			color: $color_background;

			transition: 0.1s ease-in-out;
			&:hover {
				color: $color_background_light;
				transform: scale(1.2);
			}
		}
	}
}